### Title: 
# Exploratory Data Analysis

### Description:
We are going to perform an EDA of our dataset.

### Authors:
#### Hugo Cesar Octavio del Sueldo
#### Jose Lopez Galdon

### Date:
23/10/2020

### Version:
1.0

***

### Libraries

We are going to start this EDA loading the respective libraries

In [3]:
    # Numpy & Pandas to work with the DF
import numpy as np
import pandas as pd

    # Seaborn / matplotlib for graphs
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

    # Automatic reports
from pandas_profiling import ProfileReport

    # Visualize DF
from IPython.display import display, HTML

***

## Load data

In [4]:
    # To automate the work as much as possible, we will parameterize the codes, so in this case, we will create an objetct with
    # the path root
name = 'data_train_merge'

data = pd.read_csv(f'../data/02_intermediate/{name}.csv',  # Path root: here we include an f-string with the variable name to parametrize
                   low_memory = False)                     # To avoid warnings we use set low_memory = False

***

## Variable predict

Taking into account the goals of the practice, we only want to know those persons that `Fully paid` their loans or those who does not, so we will tansform de dependent variable into binary problem, to ones or ceros depending on that condition.

In [10]:
    # We will only select those observations with "Fully Paid" & "Charged Off"
data_binary = data[(data['loan_status'] == "Fully Paid") | (data['loan_status'] == "Charged Off")]

    # Now, we will transform into 0 & 1
dummy_dict = {"Fully Paid":0, "Charged Off":1}

    # Finally, we use the dictiony in the dataset
data = data_binary.replace({"loan_status": dummy_dict})

In [13]:
data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
8,112038251,NaN,11575,11575,11575.0,36 months,7.35%,359.26,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
10,112149045,NaN,7200,7200,7200.0,36 months,24.85%,285.70,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
24,112052261,NaN,7500,7500,7500.0,36 months,7.35%,232.79,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
42,111999259,NaN,10000,10000,10000.0,60 months,16.02%,243.29,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
91,111808508,NaN,14000,14000,14000.0,36 months,16.02%,492.34,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884869,36221446,NaN,11575,11575,11575.0,36 months,15.59%,404.61,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
884870,36330911,NaN,12000,12000,12000.0,36 months,11.99%,398.52,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
884873,36271333,NaN,13000,13000,13000.0,60 months,15.99%,316.07,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
884874,36490806,NaN,12000,12000,12000.0,60 months,19.99%,317.86,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
884875,36271262,NaN,20000,20000,20000.0,36 months,11.99%,664.20,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### View data

Firstly, we are goint to take a look to our dataframe:

In [14]:
    # First 10 rows using html display in order to view all the columns
data = data
display(HTML(data.head(10).to_html()))

In [15]:
    # Last 10 rows using html display in order to view all the columns
data = data
display(HTML(data.tail(10).to_html()))

In [5]:
    # Data dimension
data.shape

(884876, 151)

### Data wrangling

Once we have viewed our dataset, we continue exploring the column types and nulls...

In [6]:
data.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884876 entries, 0 to 884875
Data columns (total 151 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   id                                          884876 non-null  int64
 1   member_id                                   0 non-null       float64
 2   loan_amnt                                   884876 non-null  int64
 3   funded_amnt                                 884876 non-null  int64
 4   funded_amnt_inv                             884876 non-null  float64
 5   term                                        884876 non-null  object
 6   int_rate                                    884876 non-null  object
 7   installment                                 884876 non-null  float64
 8   grade                                       884876 non-null  object
 9   sub_grade                                   884876 non-null  object
 10  emp_title                                   832183 non-null  object
 11  emp_length                                  833683 non-null  object
 12  home_ownership                              884876 non-null  object
 13  annual_inc                                  884876 non-null  float64
 14  verification_status                         884876 non-null  object
 15  issue_d                                     884876 non-null  object
 16  loan_status                                 884876 non-null  object
 17  pymnt_plan                                  884876 non-null  object
 18  url                                         884876 non-null  object
 19  desc                                        15324 non-null   object
 20  purpose                                     884876 non-null  object
 21  title                                       884744 non-null  object
 22  zip_code                                    884876 non-null  object
 23  addr_state                                  884876 non-null  object
 24  dti                                         884615 non-null  float64
 25  delinq_2yrs                                 884876 non-null  int64
 26  earliest_cr_line                            884876 non-null  object
 27  fico_range_low                              884876 non-null  int64
 28  fico_range_high                             884876 non-null  int64
 29  inq_last_6mths                              884876 non-null  int64
 30  mths_since_last_delinq                      453449 non-null  float64
 31  mths_since_last_record                      155100 non-null  float64
 32  open_acc                                    884876 non-null  int64
 33  pub_rec                                     884876 non-null  int64
 34  revol_bal                                   884876 non-null  int64
 35  revol_util                                  884387 non-null  object
 36  total_acc                                   884876 non-null  int64
 37  initial_list_status                         884876 non-null  object
 38  out_prncp                                   884876 non-null  float64
 39  out_prncp_inv                               884876 non-null  float64
 40  total_pymnt                                 884876 non-null  float64
 41  total_pymnt_inv                             884876 non-null  float64
 42  total_rec_prncp                             884876 non-null  float64
 43  total_rec_int                               884876 non-null  float64
 44  total_rec_late_fee                          884876 non-null  float64
 45  recoveries                                  884876 non-null  float64
 46  collection_recovery_fee                     884876 non-null  float64
 47  last_pymnt_d                                884118 non-null  object
 48  last_pymnt_amnt                             884876 non-null  float64
 49  next_pymnt_d                                442309 non-null  object
 50  last_credit_pull_d                          884838 non-null  object
 51  last_fico_range_high                        884876 non-null  int64
 52  last_fico_range_low                         884876 non-null  int64
 53  collections_12_mths_ex_med                  884876 non-null  int64
 54  mths_since_last_major_derog                 251613 non-null  float64
 55  policy_code                                 884876 non-null  int64
 56  application_type                            884876 non-null  object
 57  annual_inc_joint                            21318 non-null   float64
 58  dti_joint                                   21316 non-null   float64
 59  verification_status_joint                   21318 non-null   object
 60  acc_now_delinq                              884876 non-null  int64
 61  tot_coll_amt                                884876 non-null  int64
 62  tot_cur_bal                                 884876 non-null  int64
 63  open_acc_6m                                 249524 non-null  float64
 64  open_act_il                                 249524 non-null  float64
 65  open_il_12m                                 249524 non-null  float64
 66  open_il_24m                                 249524 non-null  float64
 67  mths_since_rcnt_il                          242773 non-null  float64
 68  total_bal_il                                249524 non-null  float64
 69  il_util                                     216581 non-null  float64
 70  open_rv_12m                                 249524 non-null  float64
 71  open_rv_24m                                 249524 non-null  float64
 72  max_bal_bc                                  249524 non-null  float64
 73  all_util                                    249497 non-null  float64
 74  total_rev_hi_lim                            884876 non-null  int64
 75  inq_fi                                      249524 non-null  float64
 76  total_cu_tl                                 249524 non-null  float64
 77  inq_last_12m                                249524 non-null  float64
 78  acc_open_past_24mths                        884876 non-null  int64
 79  avg_cur_bal                                 884863 non-null  float64
 80  bc_open_to_buy                              875589 non-null  float64
 81  bc_util                                     875052 non-null  float64
 82  chargeoff_within_12_mths                    884876 non-null  int64
 83  delinq_amnt                                 884876 non-null  int64
 84  mo_sin_old_il_acct                          859262 non-null  float64
 85  mo_sin_old_rev_tl_op                        884876 non-null  int64
 86  mo_sin_rcnt_rev_tl_op                       884876 non-null  int64
 87  mo_sin_rcnt_tl                              884876 non-null  int64
 88  mort_acc                                    884876 non-null  int64
 89  mths_since_recent_bc                        876113 non-null  float64
 90  mths_since_recent_bc_dlq                    225434 non-null  float64
 91  mths_since_recent_inq                       792746 non-null  float64
 92  mths_since_recent_revol_delinq              315834 non-null  float64
 93  num_accts_ever_120_pd                       884876 non-null  int64
 94  num_actv_bc_tl                              884876 non-null  int64
 95  num_actv_rev_tl                             884876 non-null  int64
 96  num_bc_sats                                 884876 non-null  int64
 97  num_bc_tl                                   884876 non-null  int64
 98  num_il_tl                                   884876 non-null  int64
 99  num_op_rev_tl                               884876 non-null  int64
 100 num_rev_accts                               884875 non-null  float64
 101 num_rev_tl_bal_gt_0                         884876 non-null  int64
 102 num_sats                                    884876 non-null  int64
 103 num_tl_120dpd_2m                            847073 non-null  float64
 104 num_tl_30dpd                                884876 non-null  int64
 105 num_tl_90g_dpd_24m                          884876 non-null  int64
 106 num_tl_op_past_12m                          884876 non-null  int64
 107 pct_tl_nvr_dlq                              884876 non-null  float64
 108 percent_bc_gt_75                            875196 non-null  float64
 109 pub_rec_bankruptcies                        884876 non-null  int64
 110 tax_liens                                   884876 non-null  int64
 111 tot_hi_cred_lim                             884876 non-null  int64
 112 total_bal_ex_mort                           884876 non-null  int64
 113 total_bc_limit                              884876 non-null  int64
 114 total_il_high_credit_limit                  884876 non-null  int64
 115 revol_bal_joint                             20800 non-null   float64
 116 sec_app_fico_range_low                      20800 non-null   float64
 117 sec_app_fico_range_high                     20800 non-null   float64
 118 sec_app_earliest_cr_line                    20800 non-null   object
 119 sec_app_inq_last_6mths                      20800 non-null   float64
 120 sec_app_mort_acc                            20800 non-null   float64
 121 sec_app_open_acc                            20800 non-null   float64
 122 sec_app_revol_util                          20518 non-null   float64
 123 sec_app_open_act_il                         20800 non-null   float64
 124 sec_app_num_rev_accts                       20800 non-null   float64
 125 sec_app_chargeoff_within_12_mths            20800 non-null   float64
 126 sec_app_collections_12_mths_ex_med          20800 non-null   float64
 127 sec_app_mths_since_last_major_derog         7185 non-null    float64
 128 hardship_flag                               884876 non-null  object
 129 hardship_type                               2661 non-null    object
 130 hardship_reason                             2661 non-null    object
 131 hardship_status                             2661 non-null    object
 132 deferral_term                               2661 non-null    float64
 133 hardship_amount                             2661 non-null    float64
 134 hardship_start_date                         2661 non-null    object
 135 hardship_end_date                           2661 non-null    object
 136 payment_plan_start_date                     2661 non-null    object
 137 hardship_length                             2661 non-null    float64
 138 hardship_dpd                                2661 non-null    float64
 139 hardship_loan_status                        2661 non-null    object
 140 orig_projected_additional_accrued_interest  2269 non-null    float64
 141 hardship_payoff_balance_amount              2661 non-null    float64
 142 hardship_last_payment_amount                2661 non-null    float64
 143 disbursement_method                         884876 non-null  object
 144 debt_settlement_flag                        884876 non-null  object
 145 debt_settlement_flag_date                   8520 non-null    object
 146 settlement_status                           8520 non-null    object
 147 settlement_date                             8520 non-null    object
 148 settlement_amount                           8520 non-null    float64
 149 settlement_percentage                       8520 non-null    float64
 150 settlement_term                             8520 non-null    float64
dtypes: float64(68), int64(44), object(39)
memory usage: 1019.4+ MB

As we can see above the only one column that has only nulls is `member_id`, therefore we will proceed to drop it. Also we observed that we have multiple columns with NaN, such as `desc`, `open_il_12m`, `open_rv_12m`...

After inspection we conclude that the following columns are not important for the analysis. We will describe why below.
- `url`: This variable does not provide relevant information because the url does not include information of the borrower.
- `desc`: As this variable is plenty of null and is very similar to `purpose` we will drop it.
- `title`: Has the same information as `purpose`.
- `open_acc_6m`, `open_act_il`...: According to some authors from *Towards Data Science* it is a good practice to drop those columns that has more than the 50% with NaN.

In [15]:
    # Drop columns
data = data.drop(columns = ['member_id', 'url', 'desc', 'title', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 
                            'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',  'open_rv_24m', 'max_bal_bc', 
                            'all_util', 'num_tl_120dpd_2m', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 
                            'last_pymnt_d', 'next_pymnt_d'])

In [16]:
    # Drop rows
data = data.dropna(subset = ['emp_title', 'emp_length', 'last_credit_pull_d', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 
                             'mo_sin_old_il_acct', 'mths_since_recent_bc', 'num_rev_accts', 'dti'])

In [17]:
    # Fill nulls with 0
        # First  of all we create an object call columns that include all the variables we will fill 0 value
columns = ['mths_since_last_delinq','mths_since_last_record', 'mths_since_last_major_derog', 'inq_fi', 'total_cu_tl', 
           'inq_last_12m', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 
           'percent_bc_gt_75', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 
           'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 
           'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 
           'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_type', 
           'hardship_reason', 'hardship_status', 'deferral_term',  'hardship_amount', 'hardship_start_date', 
           'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 
           'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount',  
           'hardship_last_payment_amount', 'debt_settlement_flag_date', 'settlement_status',  'settlement_date',  
           'settlement_amount', 'settlement_percentage', 'settlement_term']
        
data[columns] = data[columns].fillna(value = 0)

In [18]:
data.shape

(801087, 130)

Now our dataset has 130 columns instead of 151.

Next, we will take a look at duplicates, so if we find something we will delete it.

In [8]:
data.duplicated().sum()

0

As we can see, we have any duplicated data.

In [25]:
data = data
display(HTML(data.tail(10).to_html()))

In [5]:
data['loan_status'].unique()

array(['Current', 'Fully Paid', 'In Grace Period', 'Late (31-120 days)',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)