### Title: 
# Exploratory Data Analysis

### Description:
We are going to perform an EDA of our dataset.

### Authors:
#### Hugo Cesar Octavio del Sueldo
#### Jose Lopez Galdon

### Date:
23/10/2020

### Version:
1.0

***

### Libraries

We are going to start this EDA loading the respective libraries

In [1]:
    # Numpy & Pandas to work with the DF
import numpy as np
import pandas as pd

    # Seaborn / matplotlib for graphs
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

    # Visualize DF
from IPython.display import display, HTML

***

## Load data

In [15]:
    # To automate the work as much as possible, we will parameterize the codes, so in this case, we will create an objetct with
    # the path root
name = 'data_train_merge'

data = pd.read_csv(f'../data/02_intermediate/{name}.csv',  # Path root: here we include an f-string with the variable name to parametrize
                   low_memory = False)                     # To avoid warnings we use set low_memory = False

***

## Variable predict

Taking into account the goals of the practice, we only want to know those persons that `Fully paid` their loans or those who does not, so we will tansform de dependent variable into binary problem, to ones or ceros depending on that condition.

In [16]:
    # We will only select those observations with "Fully Paid" & "Charged Off"
data_binary = data[(data['loan_status'] == "Fully Paid") | (data['loan_status'] == "Charged Off")]

    # Now, we will transform into 0 & 1
dummy_dict = {"Fully Paid":0, "Charged Off":1}

    # Finally, we use the dictiony in the dataset
data = data_binary.replace({"loan_status": dummy_dict})

### View data

Firstly, we are goint to take a look to our dataframe:

In [4]:
    # First 10 rows using html display in order to view all the columns
data = data
display(HTML(data.head(10).to_html()))

In [5]:
    # Last 10 rows using html display in order to view all the columns
data = data
display(HTML(data.tail(10).to_html()))

In [6]:
    # Data dimension
data.shape

(442567, 151)

### Data wrangling

Once we have viewed our dataset, we continue exploring the column types and nulls...

In [7]:
data.info(verbose = True, null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442567 entries, 8 to 884875
Data columns (total 151 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   id                                          442567 non-null  int64
 1   member_id                                   0 non-null       float64
 2   loan_amnt                                   442567 non-null  int64
 3   funded_amnt                                 442567 non-null  int64
 4   funded_amnt_inv                             442567 non-null  float64
 5   term                                        442567 non-null  object
 6   int_rate                                    442567 non-null  object
 7   installment                                 442567 non-null  float64
 8   grade                                       442567 non-null  object
 9   sub_grade                                   442567 non-null  object
 10  emp_title                                   417552 non-null  object
 11  emp_length                                  418693 non-null  object
 12  home_ownership                              442567 non-null  object
 13  annual_inc                                  442567 non-null  float64
 14  verification_status                         442567 non-null  object
 15  issue_d                                     442567 non-null  object
 16  loan_status                                 442567 non-null  int64
 17  pymnt_plan                                  442567 non-null  object
 18  url                                         442567 non-null  object
 19  desc                                        14129 non-null   object
 20  purpose                                     442567 non-null  object
 21  title                                       442505 non-null  object
 22  zip_code                                    442567 non-null  object
 23  addr_state                                  442567 non-null  object
 24  dti                                         442549 non-null  float64
 25  delinq_2yrs                                 442567 non-null  int64
 26  earliest_cr_line                            442567 non-null  object
 27  fico_range_low                              442567 non-null  int64
 28  fico_range_high                             442567 non-null  int64
 29  inq_last_6mths                              442567 non-null  int64
 30  mths_since_last_delinq                      226887 non-null  float64
 31  mths_since_last_record                      83038 non-null   float64
 32  open_acc                                    442567 non-null  int64
 33  pub_rec                                     442567 non-null  int64
 34  revol_bal                                   442567 non-null  int64
 35  revol_util                                  442353 non-null  object
 36  total_acc                                   442567 non-null  int64
 37  initial_list_status                         442567 non-null  object
 38  out_prncp                                   442567 non-null  float64
 39  out_prncp_inv                               442567 non-null  float64
 40  total_pymnt                                 442567 non-null  float64
 41  total_pymnt_inv                             442567 non-null  float64
 42  total_rec_prncp                             442567 non-null  float64
 43  total_rec_int                               442567 non-null  float64
 44  total_rec_late_fee                          442567 non-null  float64
 45  recoveries                                  442567 non-null  float64
 46  collection_recovery_fee                     442567 non-null  float64
 47  last_pymnt_d                                441946 non-null  object
 48  last_pymnt_amnt                             442567 non-null  float64
 49  next_pymnt_d                                0 non-null       object
 50  last_credit_pull_d                          442541 non-null  object
 51  last_fico_range_high                        442567 non-null  int64
 52  last_fico_range_low                         442567 non-null  int64
 53  collections_12_mths_ex_med                  442567 non-null  int64
 54  mths_since_last_major_derog                 129870 non-null  float64
 55  policy_code                                 442567 non-null  int64
 56  application_type                            442567 non-null  object
 57  annual_inc_joint                            1017 non-null    float64
 58  dti_joint                                   1017 non-null    float64
 59  verification_status_joint                   1017 non-null    object
 60  acc_now_delinq                              442567 non-null  int64
 61  tot_coll_amt                                442567 non-null  int64
 62  tot_cur_bal                                 442567 non-null  int64
 63  open_acc_6m                                 24784 non-null   float64
 64  open_act_il                                 24784 non-null   float64
 65  open_il_12m                                 24784 non-null   float64
 66  open_il_24m                                 24784 non-null   float64
 67  mths_since_rcnt_il                          24223 non-null   float64
 68  total_bal_il                                24784 non-null   float64
 69  il_util                                     21565 non-null   float64
 70  open_rv_12m                                 24784 non-null   float64
 71  open_rv_24m                                 24784 non-null   float64
 72  max_bal_bc                                  24784 non-null   float64
 73  all_util                                    24781 non-null   float64
 74  total_rev_hi_lim                            442567 non-null  int64
 75  inq_fi                                      24784 non-null   float64
 76  total_cu_tl                                 24784 non-null   float64
 77  inq_last_12m                                24784 non-null   float64
 78  acc_open_past_24mths                        442567 non-null  int64
 79  avg_cur_bal                                 442561 non-null  float64
 80  bc_open_to_buy                              437960 non-null  float64
 81  bc_util                                     437651 non-null  float64
 82  chargeoff_within_12_mths                    442567 non-null  int64
 83  delinq_amnt                                 442567 non-null  int64
 84  mo_sin_old_il_acct                          429887 non-null  float64
 85  mo_sin_old_rev_tl_op                        442567 non-null  int64
 86  mo_sin_rcnt_rev_tl_op                       442567 non-null  int64
 87  mo_sin_rcnt_tl                              442567 non-null  int64
 88  mort_acc                                    442567 non-null  int64
 89  mths_since_recent_bc                        438251 non-null  float64
 90  mths_since_recent_bc_dlq                    115925 non-null  float64
 91  mths_since_recent_inq                       403687 non-null  float64
 92  mths_since_recent_revol_delinq              159173 non-null  float64
 93  num_accts_ever_120_pd                       442567 non-null  int64
 94  num_actv_bc_tl                              442567 non-null  int64
 95  num_actv_rev_tl                             442567 non-null  int64
 96  num_bc_sats                                 442567 non-null  int64
 97  num_bc_tl                                   442567 non-null  int64
 98  num_il_tl                                   442567 non-null  int64
 99  num_op_rev_tl                               442567 non-null  int64
 100 num_rev_accts                               442566 non-null  float64
 101 num_rev_tl_bal_gt_0                         442567 non-null  int64
 102 num_sats                                    442567 non-null  int64
 103 num_tl_120dpd_2m                            424303 non-null  float64
 104 num_tl_30dpd                                442567 non-null  int64
 105 num_tl_90g_dpd_24m                          442567 non-null  int64
 106 num_tl_op_past_12m                          442567 non-null  int64
 107 pct_tl_nvr_dlq                              442567 non-null  float64
 108 percent_bc_gt_75                            437696 non-null  float64
 109 pub_rec_bankruptcies                        442567 non-null  int64
 110 tax_liens                                   442567 non-null  int64
 111 tot_hi_cred_lim                             442567 non-null  int64
 112 total_bal_ex_mort                           442567 non-null  int64
 113 total_bc_limit                              442567 non-null  int64
 114 total_il_high_credit_limit                  442567 non-null  int64
 115 revol_bal_joint                             799 non-null     float64
 116 sec_app_fico_range_low                      799 non-null     float64
 117 sec_app_fico_range_high                     799 non-null     float64
 118 sec_app_earliest_cr_line                    799 non-null     object
 119 sec_app_inq_last_6mths                      799 non-null     float64
 120 sec_app_mort_acc                            799 non-null     float64
 121 sec_app_open_acc                            799 non-null     float64
 122 sec_app_revol_util                          785 non-null     float64
 123 sec_app_open_act_il                         799 non-null     float64
 124 sec_app_num_rev_accts                       799 non-null     float64
 125 sec_app_chargeoff_within_12_mths            799 non-null     float64
 126 sec_app_collections_12_mths_ex_med          799 non-null     float64
 127 sec_app_mths_since_last_major_derog         273 non-null     float64
 128 hardship_flag                               442567 non-null  object
 129 hardship_type                               261 non-null     object
 130 hardship_reason                             261 non-null     object
 131 hardship_status                             261 non-null     object
 132 deferral_term                               261 non-null     float64
 133 hardship_amount                             261 non-null     float64
 134 hardship_start_date                         261 non-null     object
 135 hardship_end_date                           261 non-null     object
 136 payment_plan_start_date                     261 non-null     object
 137 hardship_length                             261 non-null     float64
 138 hardship_dpd                                261 non-null     float64
 139 hardship_loan_status                        261 non-null     object
 140 orig_projected_additional_accrued_interest  45 non-null      float64
 141 hardship_payoff_balance_amount              261 non-null     float64
 142 hardship_last_payment_amount                261 non-null     float64
 143 disbursement_method                         442567 non-null  object
 144 debt_settlement_flag                        442567 non-null  object
 145 debt_settlement_flag_date                   8132 non-null    object
 146 settlement_status                           8132 non-null    object
 147 settlement_date                             8132 non-null    object
 148 settlement_amount                           8132 non-null    float64
 149 settlement_percentage                       8132 non-null    float64
 150 settlement_term                             8132 non-null    float64
dtypes: float64(68), int64(45), object(38)
memory usage: 513.2+ MB

As we can see above we have plenty of columns with nulls, so we are going to drop those columns which more than a 75% of the information is null.

In [17]:
    # For this operation we will use drop.na(), but firstly we will create an objet with the scale
thresh = round(len(data) * 0.75) 

data = data.dropna(thresh = thresh, axis = 1)

    #Lets check the data shape
data.shape

We can see that now we have only 93 columns, instead of 151. This is a huge reduction of the variables, but we continue having too much, in order to reduce them, we will study which of them are important in order to predict `loan_status`.