### Title: 
# Feature Engineering

### Description:
What is a feature and why we need the engineering of it? Basically, all machine learning algorithms use some input data to create outputs. This input data comprise features, which are usually in the form of structured columns. Algorithms require features with some specific characteristic to work properly. Here, the need for feature engineering arises. I think feature engineering efforts mainly have two goals:

- Preparing the proper input dataset, compatible with the machine learning algorithm requirements.
- Improving the performance of machine learning models.

### Authors:
#### Hugo Cesar Octavio del Sueldo
#### Jose Lopez Galdon

### Date:
04/11/2020

### Version:
1.0

***

### Libraries

In [1]:
    # Numpy & Pandas to work with the DF
import numpy as np
import pandas as pd

    # Visualize DF & images
from IPython.display import display, HTML

    # Import Sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import IsolationForest

## Load data

In [2]:
    # To automate the work as much as possible, we will parameterize the codes, so in this case, we will create an objetct with
    # the path root
name = 'data_preprocessed'

data = pd.read_csv(f'../data/02_intermediate/{name}.csv',  # Path root: here we include an f-string with the variable name
                   low_memory = False)                     # To avoid warnings we use set low_memory = False

### View data

Firstly, we are goint to take a look to our dataframe:

In [3]:
    # First 5 rows using html display in order to view all the columns
data = data
display(HTML(data.head().to_html()))

In [4]:
    # Last 5 rows using html display in order to view all the columns
data = data
display(HTML(data.tail().to_html()))

In [5]:
    # Data dimension
data.shape

(407319, 30)

In [6]:
    # Loan status variable proportions
data['loan_status'].value_counts()

0    318635
1     88684
Name: loan_status, dtype: int64

***

## Data X & Data Y

First of all, we have to create a new dataset without the variable we want to predict, in this case `loan_status`, this will be our *X Data*. The *Y Data* will be a vector with the `loan_status variable`.

In [7]:
    # Set X data
X = data.drop("loan_status", axis = 1)

    # Set y data
y = data["loan_status"]

    # Check dimensions
X.shape, y.shape

((407319, 29), (407319,))

## One Hot Encoding

**One Hot Encoding** is a common way of preprocessing categorical features for machine learning models. This type of encoding creates a new binary feature for each possible category and assigns a value of 1 to the feature of each sample that corresponds to its original category.

In [8]:
    # Select those categorical columns
columns_categ = ['term', 'home_ownership', 'emp_length', 'addr_state', 'debt_settlement_flag']
    
    # Below, we transform the variables into categorical with the astype function.
X[columns_categ] = X[columns_categ].astype('category')

    # Check the results
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407319 entries, 0 to 407318
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   funded_amnt                 407319 non-null  float64
 1   term                        407319 non-null  category
 2   int_rate                    407319 non-null  float64
 3   emp_length                  407319 non-null  category
 4   home_ownership              407319 non-null  category
 5   annual_inc                  407319 non-null  float64
 6   addr_state                  407319 non-null  category
 7   inq_last_6mths              407319 non-null  float64
 8   open_acc                    407319 non-null  float64
 9   revol_bal                   407319 non-null  float64
 10  revol_util                  407319 non-null  float64
 11  total_acc                   407319 non-null  float64
 12  acc_open_past_24mths        407319 non-null  float64
 13  avg_cur_bal                 407319 non-null  float64
 14  bc_open_to_buy              407319 non-null  float64
 15  bc_util                     407319 non-null  float64
 16  mo_sin_old_il_acct          407319 non-null  float64
 17  mo_sin_old_rev_tl_op        407319 non-null  float64
 18  mo_sin_rcnt_rev_tl_op       407319 non-null  float64
 19  mo_sin_rcnt_tl              407319 non-null  float64
 20  mort_acc                    407319 non-null  float64
 21  num_actv_bc_tl              407319 non-null  float64
 22  num_actv_rev_tl             407319 non-null  float64
 23  num_bc_tl                   407319 non-null  float64
 24  num_il_tl                   407319 non-null  float64
 25  num_tl_op_past_12m          407319 non-null  float64
 26  pct_tl_nvr_dlq              407319 non-null  float64
 27  total_il_high_credit_limit  407319 non-null  float64
 28  debt_settlement_flag        407319 non-null  category
dtypes: category(5), float64(24)
memory usage: 76.5 MB

In [9]:
    # One Hot Enconding, droping the first column in order to save K-1 
X = pd.get_dummies(X, drop_first=True)

    # Check results
display(HTML(data.tail().to_html()))

## Train, Validation & Test

- **Training Dataset**: The sample of data used to fit the model.

- **Validation Dataset**: The sample of data used to provide an unbiased evaluation of a model fit on the training dataset while tuning model hyperparameters. The evaluation becomes more biased as skill on the validation dataset is incorporated into the model configuration.

- **Test Dataset**: The sample of data used to provide an unbiased evaluation of a final model fit on the training dataset.

![Image](https://miro.medium.com/max/3000/1*Nv2NNALuokZEcV6hYEHdGA.png)

We will use the next data proportion:

- **Training**: 70 %
- **Validation**: 15 %
- **Test**: 15 %

In [10]:
    # First we will define our training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1322)

    # Check dimensions
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((285123, 90), (122196, 90), (285123,), (122196,))

In [11]:
    # From the test data, we divide it into validation and test
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size = 0.5, random_state = 1322)
    
    # Check dimensions
X_test.shape, X_val.shape, y_test.shape, y_val.shape

((61098, 90), (61098, 90), (61098,), (61098,))

## Influential Outliers

Return the anomaly score of each sample using the IsolationForest algorithm

The IsolationForest ‘isolates’ observations by randomly selecting a feature and then randomly selecting a split value between the maximum and minimum values of the selected feature.

In [12]:
    # Define the isolationForest params
iso = IsolationForest(max_samples = 100, contamination = 0.1, random_state = 1322)

    # Predict those outliers
yhat = iso.fit_predict(X_train)

    # We create a mask with the outliers and then we drop them
mask = yhat != -1
X_train, y_train = X_train[mask], y_train[mask]

    # Finally, check the shapes
X_train.shape, y_train.shape

((256610, 90), (256610,))

***

### Save data

In [13]:
    # Training data
data = X_train
data.to_csv('X_train.csv', header = True, index = False)

data = y_train
data.to_csv('y_train.csv', header = True, index = False)

    # Validation data
data = X_val
data.to_csv('X_val.csv', header = True, index = False)

data = y_val
data.to_csv('y_val.csv', header = True, index = False)

    # Test data
data = X_test
data.to_csv('X_test.csv', header = True, index = False)

data = y_test
data.to_csv('y_test.csv', header = True, index = False)